@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
    background-color: #808080;
    width: 100%;      
    height: 100%;
    margin:0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
}

.black{
    background-color: #000;
    width: 13%;
    height:760px;
}

.centre{
    width: 1000px;
    height:100%;
    display:flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
}

.left{
  color: white;
  background-color: #002233;
  width: 225px;
  height: 760px;
  display:flex;
  flex-direction: column;
}

.right{
    background-color: #fff;
    width: 330px;
    height: 760px;
}

.center{
     display:flex;
     flex-direction: column;
     align-items: center;
}

img{
    height: 137px;
    width: 137px;
    margin: 33px 0px 33px 0px;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    border-radius: 50%;
}

.a{
    background: #00111a;
    margin: 5px 0px 0px 0px;
    padding: 3px 10px 3px 10px;
}

.b{
    height: 0px;
    width: 0px;
    border-top: 6px solid #00111a;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

.c{
    font-size: 1.5em;
    padding: 22px 10px 0px 10px;
}

.d{
    font-size: 0.7em;
    padding: 0px 10px 3px 10px;
}

.e{
    background-color: #00111a;
    margin: 33px 0px 0px 0px;
    padding: 12px 10px 11px 20px;
    display:flex;
}

.f{
    padding: 0px 0px 0px 20px;
}

.g{
    padding: 12px 10px 0px 25px;
}

.h{
    padding: 0px 0px 0px 23px;
}

.i{
    padding: 0px 0px 0px 25px;
}

.j{
    margin: 0px 0px 0px 13px;
}

.icon{
    font-size: 20px;
}

.text{
    font-size: 0.9em;
    padding: 0px 0px 0px 3px;
}

.text1{
    font-size: 0.9em;
    padding: 0px 0px 0px 7px;
}


.k{
    background-color: #00111a;
    margin: 23px 0px 0px 0px;
    padding: 12px 10px 11px 20px;
    display:flex;
}

hr{
    margin: 0px 21px 0px 0px; 
}

.orange{
    writing-mode:vertical-rl;
    color: white;
    background: hsl(32, 100%, 50%);
    padding: 45px 5px 45px 3px;
    margin: 20px 0px 20px 0px; 
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.green{
    writing-mode:vertical-rl;
    color: white;
    background: #59b300;
    padding: 25px 5px 25px 3px;
    margin: 20px 0px 20px 0px; 
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.pink{
    writing-mode:vertical-rl;
    color: white;
    background: #ff0040;
    padding: 10px 5px 10px 3px;
    margin: 20px 0px 20px 0px; 
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.purple{
    writing-mode:vertical-rl;
    color: white;
    background: #60027a;
    padding: 44px 5px 45px 3px;
    margin: 7px 0px 7px 0px; 
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.grid{
    display:grid;
    grid-template-columns: 27.5px 10fr 1fr;
    align-items: center;
}

.icon1{
    color:hsl(32, 100%, 50%);
}

.icon2{
    color:#59b300;
}

.icon3{
    color:#ff0040;
}

.icon4{
    color:#60027a;
}

.l{
    color:#002233;
}

.m{
    margin: 5px 0px 0px 0px;
}

.n{
    display:flex
}

.o{
    font-size: 0.8em;
}

.p{
    font-size: 0.85em;
}

.q{
    font-size: 0.9em;
    margin: 0px 0px 0px 40px;
}

@media (max-width: 1000px)
{
    .centre{
        width: 100%;
    }
}

@media (max-width: 555px)
{
    .centre{
        flex-direction: column;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }
}